/* fonts */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

/* nav section */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 158px 63px 157px;
}

nav ul {
    display: flex;
    gap: 24px;
}


#search {
    border-radius: 50px;
    border: 0px solid;
    width: 508px;
    height: 48px;
    background-color: #F1F1F1;
}

input::placeholder {
    font-family: 'Poppins';
    font-style: italic;
    font-size: medium;
}

nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #707070;
    font-size: 16px;
}

/* banner section */

.banner {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 115px;
    padding: 38px 60px;
    background-color: #FEEAE9;
    border-radius: 15px;
}

.banner-left-title {
    font-size: 56px;
    color: #1F1F1F;
}

.banner-left-description {
    font-size: 16px;
    color: 4E4E4E;
}

.banner-left-price {
    font-size: 41px;
    font-weight: bolder;
    color: #FF136F;
}

.banner-left-btn a {
    color: white;
}

.banner-left-btn {
    border: none;
    border-radius: 15px;
    background-color: #FF136F;
    padding: 14px 28px;
    font-size: 16px;
}

.banner-right-img img {
    height: 378px;
    width: 402px;
}

/* categories section */
.categories {
    margin: 60px 150px;
}

.categories-title {
    color: #1F1F1F;
    font-size: 36px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}

.card-title {
    font-size: 36px;
    color: white;
}

.card-1 {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: rgba(255, 156, 53, 100);
    border: none;
    border-radius: 20px;
}

.card-2 {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: rgba(255, 88, 155, 1);
    border: none;
    border-radius: 20px;
}

.card-3 {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: space-between;
    padding: 15px 45px;
    background-color: rgba(63, 7, 248, 1);
    border: none;
    border-radius: 20px;
}

/* card section */

.s-b-card {
    background-color: #F4F4F4;
}

.s-b-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 46px 100px 0px 80px;
}

.shoes-card-title {
    font-size: 36px;
    color: #1F1F1F;
}

.see-all a {
    font-size: 20px;
    color: #FF9D00;
}

.shoes-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shoes-card-container img {
    height: 202px;
    width: 336px;
}

.shoe {
    padding: 24px 12px;
    background-color: white;
    height: 532px;
    width: 336px;
    margin: 15px 0px 98px 0px;
}

.shoe-name {
    font-size: 24px;
    color: #1F1F1F;
}

.shoe-description {
    font-size: 16px;
    color: #4E4E4E;
}

.shoe-price {
    font-size: 24px;
    color: #000000;
}

.s-b-buy-btn {
    border: none;
    border-radius: 15px;
    background-color: #000000;
    padding: 14px 28px;
    font-size: 16px;
}

.s-b-buy-btn a{
    color: white;
}